body {
  box-sizing: border-box;
  font-size: 15px;
  font-family: Lexend Deca;
  font-weight: 400;
  font-family: Big Shoulders Display;
  align-content: center;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.containers {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  width: 30%;
}
.orange {
  background-color: hsl(31, 77%, 52%);
}
.light-green {
  background-color: hsl(184, 100%, 22%);
}
.dark-green {
  background-color: hsl(179, 100%, 13%);
}
button {
  align-self: flex-start;
  border-radius: 25px;
  padding: 1em;
  font-size: 1em;
  border: hidden;
}
.containers p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.containers h1 {
  color: hsl(0, 0%, 95%);
  padding: 8px;

  font-size: 25px;
}
#btn-1 {
  color: hsl(31, 77%, 52%);
}
#btn-2 {
  color: hsl(184, 100%, 22%);
}
#btn-3 {
  color: hsl(179, 100%, 13%);
}
img {
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 375px) {
  .containers {
    flex-direction: column;
    height: unset;
  }
  .container {
    width: 100%;
  }
}
