body {
  box-sizing: border-box;
  align-content: center;
  margin: 0;
}
* {
  box-sizing: border-box;
  
}
.containers {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: center;

}
.container {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  width: 25%;
}
.orange {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}
.light-green {
  background-color: hsl(184, 100%, 22%);
}
.dark-green {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
button {
  align-self: flex-start;
  border-radius: 25px;
  padding: 8px 25Px;
  font-size: 15px;
  border: hidden;
  font-family: Lexend Deca;
}
.containers p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-family: Lexend Deca;

}
.containers h1 {
  color: hsl(0, 0%, 95%);
  padding: 8px;
  font-family: Big Shoulders Display;
  font-size: 30px;
}
#btn-1 {
  color: hsl(31, 77%, 52%);
}
#btn-2 {
  color: hsl(184, 100%, 22%);
}
#btn-3 {
  color: hsl(179, 100%, 13%);
}
#btn-1:hover{
  background-color: transparent;
  color:white;
  border:1px solid white;
}
#btn-2:hover{
  background-color: transparent;
  color:white;
  border:1px solid white;
}
#btn-3:hover{
  background-color: transparent;
  color:white;
  border:1px solid white;
}
img {
  width: 80px;
  height: 60px;
}

@media only screen and (max-width: 375px) {
  .containers {
    flex-direction: column;
    height: unset;
  }
  .container {
    width: 100%;}
}
